.welcome {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 5rem;
}

.description {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1rem;
    margin-bottom: 100px;
}